body {
    background: beige;
    font-family: sans-serif;
}

header {
    background-color: #37517E;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#37757E
}

nav li {
    display: inline-block;
   
}
nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}


nav a:hover {
    background-color: white;
    color: green;
}




footer {
    text-align: right
}


.newsletter-section {
    text-align: center;
    background-color: #0A0545;
    padding: 20px;
    margin-top: 20px;
    color: white;
}

.newsletter-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
p{
    color: hsl(106, 74%, 42%);
    text-align: right;
    height: 120px;
    font-size: 1.2em;
    display: flex;
   text-align: center;
   justify-content: center;
}
 

.promos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
}

.promos img {
    width: 400px;
    margin-right: 20px;
}

.header-image {
    width: 100%;
}

.header-image img {
    width: 100%;
}
